/*TABLA PARTIDOS*/

body.__className_0ec1f4 {
  background-color: #16171b;
}

.fixture {
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: #333;
  border: 1px solid #000;
}

.team-name {
  font-weight: bold;
}

.league-logo {
  max-width: 30px;
  max-height: 30px;
  margin-right: 5px;
}

.team-logo {
  max-width: 30px;
  max-height: 30px;
  margin-right: 5px;
}

.time-col {
  width: 15%;
  color: #000;
  font-weight: bold;
  font-size: 18px !important;
  color: #fff;
}

.team-col {
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 5px;
}
.goals-col {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 18px !important;
}
.team1-name,
.team2-name {
  display: flex;
  align-items: center;
}
h4.team-name.team1-name {
  font-weight: 600 !important;
  font-size: 18px !important;
  margin: 0;
  margin-right: 5px;
}
h4.team-name.team2-name {
  font-weight: 600 !important;
  font-size: 18px !important;
  margin: 0;
  margin-left: 5px;
}

.team2-col {
  background-color: blue;
  color: white;
  border-radius: 10px;
  padding: 5px;
}

.league-space {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  padding: 5px;
}

.league-name h2 {
  font-size: 20px !important;
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

.team1-name {
  text-align: end;
  white-space: nowrap;
}

#fixture-row {
  justify-content: center;
}

.goleador {
  font-size: 16px;
  color: #fff;
}

@media (max-width: 767px) {
  h4.team-name.team1-name {
    font-size: 14px !important;
  }

  h4.team-name.team2-name {
    font-size: 14px !important;
  }
  .goals-col {
    font-size: 14px !important;
  }
  .time-col {
    font-size: 14px !important;
  }
}
@media (min-width: 1200px) {
  .goals-col {
    width: 6% !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .goals-col {
    width: 7% !important;
  }
}
@media (min-width: 296px) and (max-width: 991px) {
  .goals-col {
    width: 11% !important;
  }
}
@media (max-width: 295px) {
  .goals-col {
    width: 13% !important;
  }
}

@media (max-width: 575px) {
  .team-logo {
    max-width: 20px;
    max-height: 20px;
  }
  .goals-col {
    padding: 0px !important;
  }
  h4.team-name.team1-name {
    font-size: 13px !important;
  }
  .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 60px;
  }
  .goleador {
    font-size: 10px;
  }
  .time-col{
    padding: 0px !important;
    font-size: 12px !important;
  }
}

@media (min-width: 335px) and (max-width: 369px) {
  .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 50px;
  }
}

@media (min-width: 306px) and (max-width: 334px) {
  .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 40px;
  }
}

@media (max-width: 306px) {
  h4.team-name.team1-name.truncate {
    font-size: 10px !important;
  }
  .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 30px;
  }
}
